# Temperature Class

## 1. Class

In [1]:
class Temperature:
    # constructor
    def __init__(self, v, unit = 'Kelvin'):
        self.set_value(v, unit)
        
    # set as celsius
    def set_as_celsius(self, v):
        self.set_value(v, 'Celsius')
    
    # get as celsius
    def get_as_celsius(self):
        return self.get_value('Celsius')
    
    # set as kelvin
    def set_as_kelvin(self,v):
        self.set_value(v, 'Kelvin')
    
    # get as kelvin
    def get_as_kelvin(self):
        return self.get_value('Kelvin')
    
    # set value as celsius or kelvin
    def set_value(self, v, unit):
        self.kelvin = {
            'Kelvin' : v,
            'Celsius': v + 273.15
        }[unit]
        if self.kelvin < 0:
            raise ValueError('Error: Temperature should be equal to or more than 0 kelvin.')
    
    # get value as celsius or kelvin
    def get_value(self,unit):
        return {
            'Kelvin'  : self.kelvin,
            'Celsius' : self.kelvin - 273.15
        }[unit]

    # set property
    C = property(get_as_celsius,set_as_celsius)
    K = property(get_as_kelvin, set_as_kelvin )
    
    def __add__(self, v):
        return Temperature(self.K + v)
    
    def __sub__(self, v):
        return Temperature(self.K - v)
    
    def __lt__(v1,v2):
        return v1.K < v2.K
    def __le__(v1,v2):
        return v1.K <= v2.K
    def __eq__(v1,v2):
        return v1.K == v2.K
    def __ne__(v1,v2):
        return v1.K != v2.K
    def __ge__(v1,v2):
        return v1.K >= v2.K
    def __gt__(v1,v2):
        return v1.K > v2.K

## 2. Examples

### 1) Set and Get

Set temperature of 0.0 kelvin.

In [2]:
T = Temperature(0.0,'Kelvin')

In [3]:
T.K

0.0

In [4]:
T.C

-273.15

Unit parameter can be omittable.

In [5]:
T = Temperature(0.0)

In [6]:
T.K

0.0

In [7]:
T.C

-273.15

Set temperature of 0.0 celcius.

In [8]:
T = Temperature(0.0,'Celsius')

In [9]:
T.K

273.15

In [10]:
T.C

0.0

The value of temperature can be changed.

In [11]:
T = Temperature(0.0,'Celsius')

In [12]:
T.C

0.0

In [13]:
T.K

273.15

In [14]:
T.C = 30.0

In [15]:
T.C

30.0

In [16]:
T.K

303.15

### 2) Exception

The value less than 0 K could not be set.

In [17]:
try:
    T = Temperature(-10.0,'Kelvin')
except ValueError as e:
    print(e)

Error: Temperature should be equal to or more than 0 kelvin.

### 3) Addition & Subtraction

In [18]:
T1 = Temperature(25.0,'Celsius')

Add 23.0 K.

In [19]:
T2 = T1 + 23.0
T2.C

48.0

In [20]:
T2.K

321.15

Subtract 23.0 K.

In [21]:
T2 = T1 - 23.0
T2.C

2.0

In [22]:
T2.K

275.15

### 4) Comparison

In [23]:
T1 = Temperature(25.0,'Celsius')
T2 = Temperature(30.0,'Celsius')
T3 = Temperature(30.0,'Celsius')

In [24]:
T1 < T2, T1>= T2

(True, False)

In [25]:
T1 <= T2, T1 > T2

(True, False)

In [26]:
T2 == T3, T2 != T3

(True, False)

In [27]:
T1 == T2, T1 != T2

(False, True)